<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Salvamento com Sucesso</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="container ">
	<section class="card justify-content-md-center mt-3">
		<div class="card-header">
			<h5 class="float-left mt-1">
				<strong>Status</strong>
			</h5>
			<a class="float-right mt-1" href="/titulos/novo">Voltar ao Cadastro</a>
		</div>
		<div class="card-body">
			<h2>Salvamento efetuado com sucesso!</h2>
		</div>
	</section>
</body>
</html>